/* 1. RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. DEFINIÇÃO DAS CONFIGURAÇÕES GLOBAIS */
body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
.cards{
    display: flex;
   gap: 20px;
    flex-direction: column;
}
/* 3. COMPONENTE DO POST - O FOCO DO NOSSO ESTUDO */
.card {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
    overflow: hidden;
}

/* 4. ESQUELETO DA AÇÃO DOS ELEMENTOS FILHOS DO CSS FLEXBOX */
.post_image {
    width: 200px;
    height: 200px;
    object-fit: cover;
} 
@media screen and (max-width: 500px) {

  .card {
 
    flex-direction: column;
  }
}